<h1>Dashboard</h1>

<ul>
  <li><%= link_to 'Get a new address', next_addresses_path %></li>
</ul>

<h2>Admin Only</h2>

<% if Current.user.admin? %>
  <ul>
    <li><%= link_to 'Manage Users', users_path %></li>
    <li><%= link_to 'Manage Campaigns', campaigns_path %></li>
    <li><%= link_to 'Bulk Add Addresses', add_from_text_addresses_path %></li>
    <li><%= link_to 'Manage Addresses', addresses_path %></li>
  </ul>

<% end %>
