<%= semantic_form_for @user do |f| %>
  <% if user.errors.any? %>
    <div style="margin: 20px 0" class="inline-errors">
      <p><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</p>

      <ul style="display: none">
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :email %>
  <%= f.input :role, as: :radio, collection: ['basic', 'admin'] %>
  <%= f.input :pending, as: :boolean %>
  <%= f.actions %>
<% end %>
