<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :pending, style: "display: block" %>
    <%= form.check_box :pending %>
  </div>

  <div>
    <%= form.label :role, style: "display: block" %>
    <%= form.radio_button :role, value: :basic, checked: user.role == 'basic' %> basic
    <%= form.radio_button :role, value: :admin, checked: user.role == 'admin' %> admin
  </div>

  <p>
    <%= form.submit %>
  </p>
<% end %>
