<%= semantic_form_for @address do |f| %>
  <% if address.errors.any? %>
    <div style="margin: 20px 0" class="inline-errors">
      <p><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</p>

      <ul style="display: none">
        <% address.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :address, as: :text, input_html: { rows: 3 }  %>
  <%= f.input :status, as: :radio, collection: ['available', 'in_use', 'completed'] %>
  <%= f.actions %>
<% end %>
