<p id="notice"><%= notice %></p>

<h2>Campaign:</strong> <%= @address.campaign.name %></h2>

<p><a href="#" class="show_hide" id="show_hide">▶ Show full text</a></p>
<div id="full_text" class="full_text" style="display: none"><span class="content"><%= @address.campaign.full_text %></span></div>

<h3>Required points</h3>

<ul class="required_instructions">
  <% @address.campaign.required_instructions.each do |instruction| %>
    <li><%= instruction %></li>
  <% end %>
</ul>

<h3>Optional points</h3>

<ul class="optional_instructions">
  <% @address.campaign.optional_instructions.each do |instruction| %>
    <li><%= instruction %></li>
  <% end %>
</ul>

<ul class="address">
  <li><%= Address::VOTER_NAMES.sample %>
  <% @address.address.split(/\n/).each do |line| %>
    <li><%= line %></li>
  <% end %>
</ul>

<%= link_to 'Mark Completed', completed_address_path(@address), class: :button %>
<%= link_to 'Put back in the pool', uncompleted_address_path(@address), class: :button %>

<hr class="pre-note" />

<p><strong style="color: red">Important:</strong> Make sure you click "Completed!" or,
  if you can't complete it, click "Put back in pool" so it is available for someone else to complete.</p>

<div class="stats">
  <span>Available: <%= Address.available.count %></span>
  <span>Completed: <%= Address.completed.count %></span>
  <span>Completed today: <%= Address.where("updated_at > ?", Date.today).completed.count %></span>
  <span>In use: <%= Address.in_use.count %></span>
</div>

<%= link_to 'Logout', logout_path %>
