<p id="notice"><%= notice %></p>

<h2>Campaign:</strong> <%= @address.campaign.name %></h2>

<p>Required instructions</p>

<ul class="required_instructions">
  <% @address.campaign.required_instructions.each do |instruction| %>
    <li><%= instruction %></li>
  <% end %>
</ul>

<p>Optional instructions</p>

<ul class="optional_instructions">
  <% @address.campaign.optional_instructions.each do |instruction| %>
    <li><%= instruction %></li>
  <% end %>
</ul>

<p>Status: <%= @address.status %></p>

<p>Assigned to: <%= @address.in_use_user&.email %></p>

<ul class="address">
  <li><%= Address::VOTER_NAMES.sample %>
  <% @address.address.split(/\n/).each do |line| %>
    <li><%= line %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
