<!DOCTYPE html>
<html>
  <head>
    <title>PostcardsToVotersPary</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div style="color: red">
        <%= msg %>
      </div>
    <% end %>
    <%= yield %>

    <p class="menu">
      <% if Current.user.present? %>
        <%= link_to 'Dashboard', dashboard_path, method: :get %>
        <%= link_to 'Logout', '/auth/logout', method: :get %>
      <% else %>
        <%= button_to 'Login', '/auth/auth0', method: :post %>
      <% end %>
    </p>
  </body>
</html>
