<!DOCTYPE html>
<html>
  <head>
    <title>PostcardsToVotersPary</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <% if Current.user.present? %>
      <div style="text-align: right">
        <% if Current.user&.admin? %>
          <%= link_to 'Home', root_path, method: :get %>
          <%= link_to 'Admin Dashboard', dashboard_path, method: :get %>
        <% end %>
        <%= link_to 'Logout', '/auth/logout', method: :get %>
      </div>
    <% end %>

    <% flash.each do |type, msg| %>
      <div class="flash <%= type %>">
        <%= msg %>
      </div>
    <% end %>
    <%= yield %>

    <%= javascript_include_tag :application %>
  </body>
</html>
